<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main Layout</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="/images/gear.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <script defer type="application/javascript" src="/scripts/base.js"></script>
        <script type="application/javascript">
            window['customParam'] = '{{customParam}}';
        </script>
    </head>
    <body>
        <header>
            <div class="page-header">Main Layout</div>
        </header>
        <main class="page-content">
            {{{body}}}
        </main>
    </body>
</html>
