<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Keenan's View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/images/gear.svg" />
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <link rel="stylesheet" type="text/css" href="/styles/keenan.css">
        <script type="application/javascript">
            window['customParam'] = '{{customParam}}';
        </script>
        <script defer type="application/javascript" src="/scripts/base.js"></script>
        <script defer type="application/javascript" src="/scripts/config.js"></script>
        <script defer type="application/javascript" src="/scripts/keenan.js"></script>
    </head>
    <body>
        <header>
            <div style="background-color:black;display:flex;">
              <img class="main-logo"  src="/images/puppet.png" style="width:30px;height:30px;padding:2px;">
              <span class="page-header">Keenan</span>
            </div>
        </header>
        <main class="page-content">
            <button onclick="someGlobalMethod()">execute someGlobalMethod</button>
            <p>&nbsp;</p>
            <p>&nbsp; </p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
        </main>
    </body>
</html>
