<!DOCTYPE html>
<html lang="en">
    <head>
        <title>k3yNaN's View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/images/gear.svg" />
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <script defer type="application/javascript" src="/scripts/base.js"></script>
        <script defer type="application/javascript" src="/scripts/config.js"></script>
        <script type="application/javascript">
            window['customParam'] = '{{customParam}}';
            const someGlobalMethod = () => {
                console.log('someGlobalMethod');
            };
        </script>
    </head>
    <body>
        <header>
            <div style="position:relative">
              <img id="mainlogo" src="/images/puppet.png" style="width:30px;height:30px">
              <span id="page-header" class="page-header">Keenan</span>
              <img id="config-button" style="position: absolute;top: 36px;right: 0px;" src="/images/gear.svg"></img>
            </div>
        </header>
        <main class="page-content">
            <div>
                <img src="/images/user.png" style="width:20px;height:20px;"></img>
                <span style="font-size:1.2em;">Keenan</span>
            </div>
            <button onclick="someGlobalMethod()">execute someGlobalMethod</button>
            <p>&nbsp;</p>
            <p>&nbsp; </p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
            <p>All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy. All work and no play makes k3yNaN a dull boy.</p>
        </main>
    </body>
</html>
